@charset "utf-8";
/* CSS Document */

		body
		{
			background-color:darkgreen;
			
			margin-left: 150px;
			margin-right: 150px;
			margin-top: 150px;
			margin-bottom: 150px;
			
			font-family: "Liberation Serif"
		}
		
		h1
		{
			font-size: 40px;
			font-family: Times New Roman;
			
		}
		
		h2
		{
			font-size: 35px;
			font-family: Palatino;
			
		}
		
		h3
		{
			font-size: 25px;
		}
		
		p
		{
			font-size: 15px;
		}
		
	
