@charset "utf-8";
/* CSS Document */

		body

		{
			background-image: url("tropicalislandgif.gif");
			background-repeat: no-repeat, repeat;
			background-position: center;
			background-size: cover;
			text-align:center;
			overflow:scroll;
			background-attachment: fixed;
			background-color:black;
			text-shadow: 2xp, 2xp,;
			color:darkgoldenrod;
			
			margin-left: 150px;
			margin-right: 150px;
			margin-top: 150px;
			margin-bottom: 150px;
			
			font-family: Baskerville
		}
		
		h1
		{
			font-size: 50px;
			font-family: Times New Roman;
			
		}
		
		h2
		{
			font-size: 45px;
			font-family: Palatino;
			
		}
		
		h3
		{
			font-size: 35px;
		}
		
		p
		{
			font-size: 30px;
		}
		
	body
		{
			background-color:darkorchid;
			
			margin-left: 150px;
			margin-right: 150px;
			margin-top: 150px;
			margin-bottom: 150px;
			
			font-family: Helvetica
		}
		
		h1
		{
			font-size: 35px;
			font-family: Times New Roman;
			
		}
		
		h2
		{
			font-size: 35px;
			font-family: Gill Sans;
			
		}
		
		h3
		{
			font-size: 45px;
		}
		
		p
		{
			font-size: 35px;
		}
		
	
